.homeall{
    min-height: 100vh;
    align-items: center;
    background-image: url(../images/brooke-lark-08bOYnH_r_E-unsplash.jpg );
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: fixed;
}
.home{
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    
}
.home article{
    flex: 1 1 60rem;
    margin: 20px;
    color: #333;
    font-size: 2.5rem;
 
}
.home article p{
    padding: 30px;
    margin-top: 5px;
    font-size: 2rem;
}
.home aside{
    flex: 1 1 40rem;
    margin: 20px;
}
.home aside img{
    padding: 30px;
    width: 100%;
    border-radius: 50%;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translate(0rem);
    }
    50%, 100%{
        transform: translatey(3rem);
    }
}

.home article h1{
    margin-top: 30px;
    text-align: center;
    color: #666;
    padding: 1rem 0;
    font-size: 4rem;
}
.home article h1 span{
    color: red;
}
.homeall .homeimage{
    background-image: url(../images/service9.jpg);
    background-repeat: no-repeat;
    width: 99%;
    min-height: 60vh;
    margin: 30px;
    margin-right:50px; 
    border-radius: 50px;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    color: aliceblue;
}
.homeall .homeimage .deal{
    flex: 1 1 30rem;
    margin: 40px;
}
.homeall .homeimage .deal h4{
    border: 5px solid red;
    width: 30%;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;
    font-size:larger ;
    color: #333;
    background-color: aliceblue;
    margin-bottom: 30px;
    margin-top:  30px;
}
.homeall .homeimage .deal h1{
    padding: 1rem;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 7rem;
    font-size: 5rem;
    margin-bottom: 40px;
    
}
.homeall .homeimage .deal2{
    flex: 1 1 30rem;
    margin-top: 20px;
    
}
.homeall .homeimage .deal2 h1{
    margin-top: 50px; 
    width: 90%;
    padding: 7rem;
    border-radius: 100%;
    text-align: center;
    font-size:7rem;
    line-height: 10rem;

  
}
.homeall .homeimage .deal3{
    flex: 1 1 30rem;
    margin-top: 50px; 
    align-items: center;
}
.homeall .natural{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
}
.homeall .natural .natureimage{
    flex: 1 1 30rem;
    height: 70vh;
    width: 100%;
    padding-top: 4rem;
}
.homeall .natural .natureimage img{
    height: 70vh;
    width: 90%;
    border-radius: 20px;
}
.homeall .natural .naturecontent{
    flex: 1 1 30rem;
    color: #333;
    padding-top: 4rem;
}
  
.homeall .natural .naturecontent h2{
    border: 5px solid red;
    width: 30%;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;
    font-size:larger ;
    color: #333;
    background-color: aliceblue;
    margin-bottom: 30px;
    margin-top:  30px;

}
.homeall .natural .naturecontent h1{ 
    font-size: 3rem;
    margin-bottom: 20px;
    
}
.homeall .natural .naturecontent p{
    font-size: 2rem;
    margin-bottom: 20px;
} 
.homeall .natural .naturecontent ul{
    margin-left: 40px;
    line-height: 4rem;
    font-size: 2rem;
}

 .testing{
    float: left;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 5px;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}

 
.test-image{
    width: 200px;
    height: 200px;
    position: relative;
    left: 15%;
    border-radius: 100%;
 }
 
 #first{
    flex:1 1 25rem;
    gap:1.5rem;
    border-radius: .5rem;
    padding: 40px;  padding-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgb(192, 187, 187);
    cursor: pointer;

 }
 #second{
    flex:1 1 25rem;
    gap:1.5rem;
    border-radius: .5rem;
    padding: 40px;  padding-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgb(192, 187, 187);
    cursor: pointer;
 }
 #third{
    flex:1 1 25rem;
    gap:1.5rem;
    border-radius: .5rem;
    padding: 40px;  padding-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgb(192, 187, 187);
    cursor: pointer;
 }
 #forth{
    flex:1 1 25rem;
    gap:1.5rem;
    border-radius: .5rem;
    padding: 40px;  padding-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgb(192, 187, 187);
    cursor: pointer;
 }
.foot{
    text-align: center;
    background-color: white;
    font-size: 15pxs;
    color: #333;
    padding: 12px;

}

 .twit{
    text-decoration: none;
    color: blue;
}
.face{
    text-decoration: none;
    color: red;
}
.web{
    text-decoration: none;
    color: green;
}
footer{
    padding: 13px;
}

